Finalterm-Nodered/flows.json
[
    {
        "id": "b9c8e7b072ef3e80",
        "type": "tab",
        "label": "Smart Garden",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe1ab60ef81bc53e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b7553891a4818858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca_cert.h",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "fb2ed5e35d69aae3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2170b5a44aff900",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "esp32/dht",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9551030bc604588",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "example.hivemq.cloud",
        "port": "8883",
        "tls": "true",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b16e2f8ff6ed842",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60ab0d339addd9a9",
        "type": "ui_group",
        "name": "Pump Control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e2caf3f355fee0",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3552cc3b37e62c6f",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "749e0285b5d5f0ca",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3e3eec6ec46ea3f",
        "type": "ui_group",
        "name": "Air Temperature And Humidity",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c196679cdbad18fd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aca5e470724185e4",
        "type": "ui_group",
        "name": "Light and Soil Moisture",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a701779318b8c7cd",
        "type": "ui_group",
        "name": "Control Button",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "775c7b4c1e71caab",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "a142036b6292621f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "466de92e15556aff",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "2eb9de4aeb69700b",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "d6cc340928d9006b",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24"
    },
    {
        "id": "b6f31574d0558644",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "730d248c2da34887",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "2e4d8f5b3259a3c8",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "f940825e4da1345e",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24"
    },
    {
        "id": "bfdc6bd4afe2ca9e",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "4bf93a84d73746d2",
        "type": "ui_group",
        "name": "Environmental Sensors",
        "tab": "08472549eb9f0f60",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "27509dbcdbae1d7d",
        "type": "ui_group",
        "name": "Water Pump Control",
        "tab": "08472549eb9f0f60",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "86527bafff5ef35a",
        "type": "ui_group",
        "name": "LED Light Control",
        "tab": "08472549eb9f0f60",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "846797f4fcddea20",
        "type": "ui_group",
        "name": "Fan Control",
        "tab": "08472549eb9f0f60",
        "order": 4,
        "disp": true,
        "width": "8"
    },
    {
        "id": "08472549eb9f0f60",
        "type": "ui_tab",
        "name": "Smart Garden Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1db76fbe2025222d",
        "type": "mqtt in",
        "z": "b9c8e7b072ef3e80",
        "name": "Sensor Data Input",
        "topic": "esp32/sensors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "a1e8e6eac28a00f1"
            ]
        ]
    },
    {
        "id": "a1e8e6eac28a00f1",
        "type": "function",
        "z": "b9c8e7b072ef3e80",
        "name": "Parse Sensor Data",
        "func": "const data = JSON.parse(msg.payload);\nreturn [\n    {payload: data.temperature, topic: 'temperature'},\n    {payload: data.humidity, topic: 'humidity'},\n    {payload: data.soilMoisture, topic: 'soil'},\n    {payload: data.lightLevel, topic: 'light'}\n];",
        "outputs": 4,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "a8393322e688cdeb"
            ],
            [
                "1c41062a19397ea6"
            ],
            [
                "57ba4d9fa8879e22"
            ],
            [
                "29ee34e8fe04ef7a"
            ]
        ]
    },
    {
        "id": "a8393322e688cdeb",
        "type": "ui_gauge",
        "z": "b9c8e7b072ef3e80",
        "name": "Temperature",
        "group": "4bf93a84d73746d2",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "1c41062a19397ea6",
        "type": "ui_gauge",
        "z": "b9c8e7b072ef3e80",
        "name": "Air Humidity",
        "group": "4bf93a84d73746d2",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Air Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "57ba4d9fa8879e22",
        "type": "ui_gauge",
        "z": "b9c8e7b072ef3e80",
        "name": "Soil Moisture",
        "group": "4bf93a84d73746d2",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "29ee34e8fe04ef7a",
        "type": "ui_gauge",
        "z": "b9c8e7b072ef3e80",
        "name": "Light Intensity",
        "group": "4bf93a84d73746d2",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "b6a75a933d31dbf6",
        "type": "ui_switch",
        "z": "b9c8e7b072ef3e80",
        "name": "Pump Mode",
        "label": "Mode (AUTO/MANUAL)",
        "tooltip": "",
        "group": "27509dbcdbae1d7d",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pump/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "08c84739995fe6bc"
            ]
        ]
    },
    {
        "id": "002144cd387970c4",
        "type": "ui_switch",
        "z": "b9c8e7b072ef3e80",
        "name": "Pump Manual Control",
        "label": "Power Control",
        "group": "27509dbcdbae1d7d",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "pump/manual",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 380,
        "y": 800,
        "wires": [
            [
                "08c84739995fe6bc"
            ]
        ]
    },
    {
        "id": "dc84824d9a358384",
        "type": "ui_text",
        "z": "b9c8e7b072ef3e80",
        "group": "27509dbcdbae1d7d",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "x": 750,
        "y": 720,
        "wires": []
    },
    {
        "id": "08c84739995fe6bc",
        "type": "function",
        "z": "b9c8e7b072ef3e80",
        "name": "Pump Logic",
        "func": "const mode = flow.get('pump_mode') || 'MANUAL';\nconst soilMoisture = flow.get('soil_moisture') || 0;\n\nif (msg.topic === 'pump/mode') {\n    flow.set('pump_mode', msg.payload);\n    return null;\n}\n\nif (mode === 'AUTO') {\n    msg.payload = soilMoisture < 30 ? 'ON' : 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 570,
        "y": 780,
        "wires": [
            [
                "dc84824d9a358384",
                "254cc8615da8a8af"
            ]
        ]
    },
    {
        "id": "254cc8615da8a8af",
        "type": "mqtt out",
        "z": "b9c8e7b072ef3e80",
        "name": "Pump Control",
        "topic": "esp32/pump",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 770,
        "y": 820,
        "wires": []
    },
    {
        "id": "8f1844d0e1995b2e",
        "type": "ui_switch",
        "z": "b9c8e7b072ef3e80",
        "name": "LED Mode",
        "label": "Mode (AUTO/MANUAL)",
        "group": "86527bafff5ef35a",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "led/mode",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "x": 370,
        "y": 860,
        "wires": [
            [
                "b9f33d54c47b53d8"
            ]
        ]
    },
    {
        "id": "0de77306b99aba3f",
        "type": "ui_switch",
        "z": "b9c8e7b072ef3e80",
        "name": "LED Manual Control",
        "label": "Power Control",
        "group": "86527bafff5ef35a",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "led/manual",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 370,
        "y": 900,
        "wires": [
            [
                "b9f33d54c47b53d8"
            ]
        ]
    },
    {
        "id": "4bc32a43c9a9c328",
        "type": "ui_text",
        "z": "b9c8e7b072ef3e80",
        "group": "86527bafff5ef35a",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "b9f33d54c47b53d8",
        "type": "function",
        "z": "b9c8e7b072ef3e80",
        "name": "LED Logic",
        "func": "const mode = flow.get('led_mode') || 'MANUAL';\nconst lightLevel = flow.get('light_level') || 1000;\n\nif (msg.topic === 'led/mode') {\n    flow.set('led_mode', msg.payload);\n    return null;\n}\n\nif (mode === 'AUTO') {\n    msg.payload = lightLevel < 300 ? 'ON' : 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 570,
        "y": 880,
        "wires": [
            [
                "4bc32a43c9a9c328",
                "766627ef191845d6"
            ]
        ]
    },
    {
        "id": "766627ef191845d6",
        "type": "mqtt out",
        "z": "b9c8e7b072ef3e80",
        "name": "LED Control",
        "topic": "esp32/led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 770,
        "y": 920,
        "wires": []
    },
    {
        "id": "365e570908fe20e3",
        "type": "ui_switch",
        "z": "b9c8e7b072ef3e80",
        "name": "Fan Mode",
        "label": "Mode (AUTO/MANUAL)",
        "group": "846797f4fcddea20",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "fan/mode",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "0cfad936a6785596"
            ]
        ]
    },
    {
        "id": "9892a02322ec2c32",
        "type": "ui_switch",
        "z": "b9c8e7b072ef3e80",
        "name": "Fan Manual Control",
        "label": "Power Control",
        "group": "846797f4fcddea20",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "fan/manual",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "0cfad936a6785596"
            ]
        ]
    },
    {
        "id": "823e80d300ba0881",
        "type": "ui_text",
        "z": "b9c8e7b072ef3e80",
        "group": "846797f4fcddea20",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "0cfad936a6785596",
        "type": "function",
        "z": "b9c8e7b072ef3e80",
        "name": "Fan Logic",
        "func": "const mode = flow.get('fan_mode') || 'MANUAL';\nconst temperature = flow.get('temperature') || 0;\nconst humidity = flow.get('humidity') || 0;\n\nif (msg.topic === 'fan/mode') {\n    flow.set('fan_mode', msg.payload);\n    return null;\n}\n\nif (mode === 'AUTO') {\n    msg.payload = (temperature > 30 || humidity > 80) ? 'ON' : 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 570,
        "y": 980,
        "wires": [
            [
                "823e80d300ba0881",
                "f223f0019d4fa275"
            ]
        ]
    },
    {
        "id": "f223f0019d4fa275",
        "type": "mqtt out",
        "z": "b9c8e7b072ef3e80",
        "name": "Fan Control",
        "topic": "esp32/fan",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 770,
        "y": 1020,
        "wires": []
    }
]