Final Term Nodered/.flows.json.backup
[
    {
        "id": "a9ad719180f2f9df",
        "type": "tab",
        "label": "Smart Garden",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe1ab60ef81bc53e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b7553891a4818858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca_cert.h",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "fb2ed5e35d69aae3",
        "type": "mqtt-broker",
        "z": "a9ad719180f2f9df",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2170b5a44aff900",
        "type": "mqtt-broker",
        "z": "a9ad719180f2f9df",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9551030bc604588",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "example.hivemq.cloud",
        "port": "8883",
        "tls": "true",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b16e2f8ff6ed842",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60ab0d339addd9a9",
        "type": "ui_group",
        "name": "Pump Control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e2caf3f355fee0",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3552cc3b37e62c6f",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "749e0285b5d5f0ca",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3e3eec6ec46ea3f",
        "type": "ui_group",
        "name": "Air Temperature And Humidity",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c196679cdbad18fd",
        "type": "mqtt-broker",
        "z": "a9ad719180f2f9df",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aca5e470724185e4",
        "type": "ui_group",
        "name": "Light and Soil Moisture",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a701779318b8c7cd",
        "type": "ui_group",
        "name": "Control Button",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "775c7b4c1e71caab",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "466de92e15556aff",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "2eb9de4aeb69700b",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "d6cc340928d9006b",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24"
    },
    {
        "id": "b6f31574d0558644",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "730d248c2da34887",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "2e4d8f5b3259a3c8",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "f940825e4da1345e",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24"
    },
    {
        "id": "bfdc6bd4afe2ca9e",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "4bf93a84d73746d2",
        "type": "ui_group",
        "name": "Garden Monitoring",
        "tab": "a142036b6292621f",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27509dbcdbae1d7d",
        "type": "ui_group",
        "name": "Water Pump Control",
        "tab": "a142036b6292621f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86527bafff5ef35a",
        "type": "ui_group",
        "name": "LED Light Control",
        "tab": "a142036b6292621f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "846797f4fcddea20",
        "type": "ui_group",
        "name": "Fan Control",
        "tab": "a142036b6292621f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "environmental_gauges",
        "type": "ui_group",
        "name": "Environmental Parameters",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "charts_group",
        "type": "ui_group",
        "name": "Real-time Charts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "pump_control",
        "type": "ui_group",
        "name": "Water Pump Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "led_control",
        "type": "ui_group",
        "name": "LED Control",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fan_control",
        "type": "ui_group",
        "name": "Fan Control",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee5fda4906a32810",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a142036b6292621f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "70fb166d429f6c29",
        "type": "ui_group",
        "name": "Garden Analysis",
        "tab": "a142036b6292621f",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gauge-row",
        "type": "ui_group",
        "name": "Sensor Values",
        "tab": "home",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "chart-row",
        "type": "ui_group",
        "name": "Real-time Charts",
        "tab": "home",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "control-row",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "home",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "status-row",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "home",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "044344336de7ae57",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dded0d0a87852c58",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e503b06b4e662868",
        "type": "ui_group",
        "name": "Adjust Thresholds",
        "tab": "a142036b6292621f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23aca4647963251f",
        "type": "ui_group",
        "name": "test",
        "tab": "a142036b6292621f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e85bd232a34a3b6",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Temperature",
        "group": "4bf93a84d73746d2",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Air Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f2cd212472fea50",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Air Humidity",
        "group": "4bf93a84d73746d2",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Air Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "7e76b9d382c6f4bb",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Soil Moisture",
        "group": "4bf93a84d73746d2",
        "order": 3,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "43e185601eb4fd59",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Light Intensity",
        "group": "4bf93a84d73746d2",
        "order": 4,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "61b1c89fda749c8b",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Temperature",
        "topic": "esp32/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "3dc8c38f9a9cd228",
                "b33dd445da4526e2",
                "6e85bd232a34a3b6"
            ]
        ]
    },
    {
        "id": "fc290abb96bf0988",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Humidity",
        "topic": "esp32/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c196679cdbad18fd",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "510f62275b9515b5",
                "5f2cd212472fea50",
                "a6c4f35bde141268"
            ]
        ]
    },
    {
        "id": "cc0045d01b0d13cf",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Light Intensity",
        "topic": "esp32/intensity",
        "qos": "0",
        "datatype": "json",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "c584a932b5d296ae",
                "43e185601eb4fd59",
                "5e260d555afb8bb0"
            ]
        ]
    },
    {
        "id": "6cfc1d4fd8d4de3f",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Moisture",
        "topic": "esp32/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "7e76b9d382c6f4bb",
                "03c9b3cad3e1ce89",
                "4e77214035114b60"
            ]
        ]
    },
    {
        "id": "3dc8c38f9a9cd228",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f190aa91bd66438",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Pump Mode",
        "label": "AUTO Mode",
        "tooltip": "",
        "group": "27509dbcdbae1d7d",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "83c4dbfd3c88fa01"
            ]
        ]
    },
    {
        "id": "fd99681aa234c96b",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Pump Manual Control",
        "label": "Power Control",
        "tooltip": "",
        "group": "27509dbcdbae1d7d",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "8a5b7728e7301df8"
            ]
        ]
    },
    {
        "id": "2abd1b9813246c28",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "27509dbcdbae1d7d",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "83c4dbfd3c88fa01",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Pump Mode",
        "topic": "esp32/pump_mode",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "85f6bbc440dcf846",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "LED Mode",
        "label": "AUTO Mode",
        "tooltip": "",
        "group": "86527bafff5ef35a",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "a56e4ec7a885793c"
            ]
        ]
    },
    {
        "id": "d7eb17f9243b0b36",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "LED Manual Control",
        "label": "Power Control",
        "tooltip": "",
        "group": "86527bafff5ef35a",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 280,
        "y": 700,
        "wires": [
            [
                "8666b444e89a4ecd"
            ]
        ]
    },
    {
        "id": "17817b37207cc79b",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "86527bafff5ef35a",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "a56e4ec7a885793c",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "LED Mode",
        "topic": "esp32/led_mode",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "d493bd045751a74e",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Fan Mode",
        "label": "AUTO mode",
        "tooltip": "",
        "group": "846797f4fcddea20",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 800,
        "wires": [
            [
                "a60f2c6fc994e8f0"
            ]
        ]
    },
    {
        "id": "be79e14866ed1e5e",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Fan Manual Control",
        "label": "Power Control",
        "tooltip": "",
        "group": "846797f4fcddea20",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 290,
        "y": 860,
        "wires": [
            [
                "eca1165d36a942c8"
            ]
        ]
    },
    {
        "id": "51243ad4015da461",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "846797f4fcddea20",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "a60f2c6fc994e8f0",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Fan Mode",
        "topic": "esp32/fan_mode",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "510f62275b9515b5",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "03c9b3cad3e1ce89",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "c584a932b5d296ae",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a5b7728e7301df8",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Pump Control",
        "topic": "esp32/pump_control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "8666b444e89a4ecd",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "LED Control",
        "topic": "esp32/led_control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "eca1165d36a942c8",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Fan Control",
        "topic": "esp32/fan_control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "afbb6d2a2bd5e2a1",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Pump Status",
        "topic": "esp32/pump_status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "2abd1b9813246c28"
            ]
        ]
    },
    {
        "id": "74024f55afb74346",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Led Status",
        "topic": "esp32/led_status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "17817b37207cc79b"
            ]
        ]
    },
    {
        "id": "fde136a9ac66400b",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Fan Status",
        "topic": "esp32/fan_status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "51243ad4015da461"
            ]
        ]
    },
    {
        "id": "d68a3cfacdac592e",
        "type": "ui_slider",
        "z": "a9ad719180f2f9df",
        "name": "",
        "label": "Set Temperature",
        "tooltip": "",
        "group": "e503b06b4e662868",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 680,
        "wires": [
            [
                "5fbb199f121588e0"
            ]
        ]
    },
    {
        "id": "5fbb199f121588e0",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Temperature Value",
        "topic": "esp32/set_temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "1161b9885455308a",
        "type": "ui_slider",
        "z": "a9ad719180f2f9df",
        "name": "",
        "label": "Set Soil Moisture",
        "tooltip": "",
        "group": "e503b06b4e662868",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "a2a58aafc0726b3f"
            ]
        ]
    },
    {
        "id": "a2a58aafc0726b3f",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Soil Moisture Value",
        "topic": "esp32/set_moisture",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 1030,
        "y": 800,
        "wires": []
    },
    {
        "id": "b01defb894211e04",
        "type": "ui_slider",
        "z": "a9ad719180f2f9df",
        "name": "",
        "label": "Set Humidity ",
        "tooltip": "",
        "group": "e503b06b4e662868",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 740,
        "wires": [
            [
                "f3739af5b11cfc28"
            ]
        ]
    },
    {
        "id": "f3739af5b11cfc28",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Humdity Value",
        "topic": "esp32/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "41b51f9a81a266d3",
        "type": "ui_slider",
        "z": "a9ad719180f2f9df",
        "name": "",
        "label": "Set Light Intensity",
        "tooltip": "",
        "group": "e503b06b4e662868",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 860,
        "wires": [
            [
                "80122361252a0f9d"
            ]
        ]
    },
    {
        "id": "80122361252a0f9d",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Light Intensity Value",
        "topic": "esp32/set_intensity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 1040,
        "y": 860,
        "wires": []
    },
    {
        "id": "b33dd445da4526e2",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Temperature Chart",
        "group": "70fb166d429f6c29",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4e77214035114b60",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Soil Moisture Chart",
        "group": "70fb166d429f6c29",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Soil Moisture (%)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e86dd6043fd3f8aa",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "27509dbcdbae1d7d",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Operating Time ",
        "format": "{{msg.payload}} (s)",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 480,
        "wires": []
    },
    {
        "id": "e31119bf06d2195d",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "86527bafff5ef35a",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Operating Time",
        "format": "{{msg.payload}} (s)",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 540,
        "wires": []
    },
    {
        "id": "682a574acc3f9827",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "846797f4fcddea20",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Operating Time",
        "format": "{{msg.payload}} (s)",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1300,
        "y": 600,
        "wires": []
    },
    {
        "id": "dfdff824efb84755",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Pump Status",
        "topic": "esp32/pump_time",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1110,
        "y": 480,
        "wires": [
            [
                "e86dd6043fd3f8aa"
            ]
        ]
    },
    {
        "id": "8bb709acea13e8c9",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Led Status",
        "topic": "esp32/led_time",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "e31119bf06d2195d"
            ]
        ]
    },
    {
        "id": "8cead965579ad9c2",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Fan Status",
        "topic": "esp32/fan_time",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "682a574acc3f9827"
            ]
        ]
    },
    {
        "id": "a6c4f35bde141268",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Temperature Chart",
        "group": "70fb166d429f6c29",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff04",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5e260d555afb8bb0",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Temperature Chart",
        "group": "70fb166d429f6c29",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Light Intensity (%)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 340,
        "wires": [
            []
        ]
    }
]