Final Term Nodered/flows.json
[
    {
        "id": "a9ad719180f2f9df",
        "type": "tab",
        "label": "Smart Garden",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe1ab60ef81bc53e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b7553891a4818858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca_cert.h",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "fb2ed5e35d69aae3",
        "type": "mqtt-broker",
        "z": "a9ad719180f2f9df",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2170b5a44aff900",
        "type": "mqtt-broker",
        "z": "a9ad719180f2f9df",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9551030bc604588",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "example.hivemq.cloud",
        "port": "8883",
        "tls": "true",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b16e2f8ff6ed842",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60ab0d339addd9a9",
        "type": "ui_group",
        "name": "Pump Control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e2caf3f355fee0",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3552cc3b37e62c6f",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "749e0285b5d5f0ca",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3e3eec6ec46ea3f",
        "type": "ui_group",
        "name": "Air Temperature And Humidity",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c196679cdbad18fd",
        "type": "mqtt-broker",
        "z": "a9ad719180f2f9df",
        "name": "",
        "broker": "a13dcfcaabef4c32acf611db7d43e897.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b7553891a4818858",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aca5e470724185e4",
        "type": "ui_group",
        "name": "Light and Soil Moisture",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a701779318b8c7cd",
        "type": "ui_group",
        "name": "Control Button",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "775c7b4c1e71caab",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "466de92e15556aff",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "2eb9de4aeb69700b",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "d6cc340928d9006b",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24"
    },
    {
        "id": "b6f31574d0558644",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "730d248c2da34887",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "2e4d8f5b3259a3c8",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "f940825e4da1345e",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24"
    },
    {
        "id": "bfdc6bd4afe2ca9e",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "24"
    },
    {
        "id": "4bf93a84d73746d2",
        "type": "ui_group",
        "name": "Environmental Sensors",
        "tab": "a142036b6292621f",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27509dbcdbae1d7d",
        "type": "ui_group",
        "name": "Water Pump Control",
        "tab": "a142036b6292621f",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86527bafff5ef35a",
        "type": "ui_group",
        "name": "LED Light Control",
        "tab": "a142036b6292621f",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "846797f4fcddea20",
        "type": "ui_group",
        "name": "Fan Control",
        "tab": "a142036b6292621f",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "environmental_gauges",
        "type": "ui_group",
        "name": "Environmental Parameters",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "charts_group",
        "type": "ui_group",
        "name": "Real-time Charts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "pump_control",
        "type": "ui_group",
        "name": "Water Pump Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "led_control",
        "type": "ui_group",
        "name": "LED Control",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fan_control",
        "type": "ui_group",
        "name": "Fan Control",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee5fda4906a32810",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a142036b6292621f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "70fb166d429f6c29",
        "type": "ui_group",
        "name": "Chart",
        "tab": "a142036b6292621f",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gauge-row",
        "type": "ui_group",
        "name": "Sensor Values",
        "tab": "home",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "chart-row",
        "type": "ui_group",
        "name": "Real-time Charts",
        "tab": "home",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "control-row",
        "type": "ui_group",
        "name": "Device Controls",
        "tab": "home",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "status-row",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "home",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "044344336de7ae57",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e85bd232a34a3b6",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Temperature",
        "group": "4bf93a84d73746d2",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "5f2cd212472fea50",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Air Humidity",
        "group": "4bf93a84d73746d2",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Air Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "7e76b9d382c6f4bb",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Soil Moisture",
        "group": "4bf93a84d73746d2",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "43e185601eb4fd59",
        "type": "ui_gauge",
        "z": "a9ad719180f2f9df",
        "name": "Light Intensity",
        "group": "4bf93a84d73746d2",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 340,
        "y": 580,
        "wires": []
    },
    {
        "id": "61b1c89fda749c8b",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Temperature",
        "topic": "esp32/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "b33dd445da4526e2",
                "6e85bd232a34a3b6",
                "3dc8c38f9a9cd228"
            ]
        ]
    },
    {
        "id": "b33dd445da4526e2",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Temperature Chart",
        "group": "70fb166d429f6c29",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "31ae60de275b5717",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Humidity Chart",
        "group": "70fb166d429f6c29",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Air Humidity (%)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff00",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4e77214035114b60",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Soil Moisture Chart",
        "group": "70fb166d429f6c29",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Soil Moisture (%)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4f9ac10919564729",
        "type": "ui_chart",
        "z": "a9ad719180f2f9df",
        "name": "Light Intensity Chart",
        "group": "70fb166d429f6c29",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Light Intensity (lux)",
        "chartType": "line",
        "legend": true,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "false",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffa500",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fc290abb96bf0988",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Humidity",
        "topic": "esp32/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c196679cdbad18fd",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "31ae60de275b5717",
                "5f2cd212472fea50",
                "510f62275b9515b5"
            ]
        ]
    },
    {
        "id": "cc0045d01b0d13cf",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Intensity",
        "topic": "esp32/intensity",
        "qos": "0",
        "datatype": "json",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 60,
        "y": 540,
        "wires": [
            [
                "4f9ac10919564729",
                "43e185601eb4fd59",
                "c584a932b5d296ae"
            ]
        ]
    },
    {
        "id": "6cfc1d4fd8d4de3f",
        "type": "mqtt in",
        "z": "a9ad719180f2f9df",
        "name": "Moisture",
        "topic": "esp32/moisture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb2ed5e35d69aae3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "4e77214035114b60",
                "7e76b9d382c6f4bb",
                "03c9b3cad3e1ce89"
            ]
        ]
    },
    {
        "id": "3dc8c38f9a9cd228",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 20,
        "wires": []
    },
    {
        "id": "6f190aa91bd66438",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Pump Mode",
        "label": "Mode (AUTO/MANUAL)",
        "tooltip": "",
        "group": "27509dbcdbae1d7d",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pump/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "22661391f652aa75"
            ]
        ]
    },
    {
        "id": "fd99681aa234c96b",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Pump Manual Control",
        "label": "Power Control",
        "tooltip": "",
        "group": "27509dbcdbae1d7d",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pump/manual",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "22661391f652aa75"
            ]
        ]
    },
    {
        "id": "2abd1b9813246c28",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "27509dbcdbae1d7d",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "22661391f652aa75",
        "type": "function",
        "z": "a9ad719180f2f9df",
        "name": "Pump Logic",
        "func": "const mode = flow.get('pump_mode') || 'MANUAL';\nconst soilMoisture = flow.get('soil_moisture') || 0;\n\nif (msg.topic === 'pump/mode') {\n    flow.set('pump_mode', msg.payload);\n    return null;\n}\n\nif (mode === 'AUTO') {\n    msg.payload = soilMoisture < 30 ? 'ON' : 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "2abd1b9813246c28",
                "83c4dbfd3c88fa01"
            ]
        ]
    },
    {
        "id": "83c4dbfd3c88fa01",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Pump Control",
        "topic": "esp32/pump",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "85f6bbc440dcf846",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "LED Mode",
        "label": "Mode (AUTO/MANUAL)",
        "tooltip": "",
        "group": "86527bafff5ef35a",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "led/mode",
        "topicType": "str",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "b82b4599ca5301a5"
            ]
        ]
    },
    {
        "id": "d7eb17f9243b0b36",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "LED Manual Control",
        "label": "Power Control",
        "tooltip": "",
        "group": "86527bafff5ef35a",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "led/manual",
        "topicType": "str",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "b82b4599ca5301a5"
            ]
        ]
    },
    {
        "id": "17817b37207cc79b",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "86527bafff5ef35a",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "b82b4599ca5301a5",
        "type": "function",
        "z": "a9ad719180f2f9df",
        "name": "LED Logic",
        "func": "const mode = flow.get('led_mode') || 'MANUAL';\nconst lightLevel = flow.get('light_level') || 1000;\n\nif (msg.topic === 'led/mode') {\n    flow.set('led_mode', msg.payload);\n    return null;\n}\n\nif (mode === 'AUTO') {\n    msg.payload = lightLevel < 300 ? 'ON' : 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 780,
        "wires": [
            [
                "17817b37207cc79b",
                "a56e4ec7a885793c"
            ]
        ]
    },
    {
        "id": "a56e4ec7a885793c",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "LED Control",
        "topic": "esp32/led",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "d493bd045751a74e",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Fan Mode",
        "label": "Mode (AUTO/MANUAL)",
        "tooltip": "",
        "group": "846797f4fcddea20",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "fan/mode",
        "topicType": "str",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 860,
        "wires": [
            [
                "95a3947b684333e5"
            ]
        ]
    },
    {
        "id": "be79e14866ed1e5e",
        "type": "ui_switch",
        "z": "a9ad719180f2f9df",
        "name": "Fan Manual Control",
        "label": "Power Control",
        "group": "846797f4fcddea20",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "topic": "fan/manual",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 350,
        "y": 900,
        "wires": [
            [
                "95a3947b684333e5"
            ]
        ]
    },
    {
        "id": "51243ad4015da461",
        "type": "ui_text",
        "z": "a9ad719180f2f9df",
        "group": "846797f4fcddea20",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 750,
        "y": 880,
        "wires": []
    },
    {
        "id": "95a3947b684333e5",
        "type": "function",
        "z": "a9ad719180f2f9df",
        "name": "Fan Logic",
        "func": "const mode = flow.get('fan_mode') || 'MANUAL';\nconst temperature = flow.get('temperature') || 0;\nconst humidity = flow.get('humidity') || 0;\n\nif (msg.topic === 'fan/mode') {\n    flow.set('fan_mode', msg.payload);\n    return null;\n}\n\nif (mode === 'AUTO') {\n    msg.payload = (temperature > 30 || humidity > 80) ? 'ON' : 'OFF';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 880,
        "wires": [
            [
                "51243ad4015da461",
                "a60f2c6fc994e8f0"
            ]
        ]
    },
    {
        "id": "a60f2c6fc994e8f0",
        "type": "mqtt out",
        "z": "a9ad719180f2f9df",
        "name": "Fan Control",
        "topic": "esp32/fan",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb2ed5e35d69aae3",
        "x": 750,
        "y": 920,
        "wires": []
    },
    {
        "id": "510f62275b9515b5",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "03c9b3cad3e1ce89",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "c584a932b5d296ae",
        "type": "debug",
        "z": "a9ad719180f2f9df",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 620,
        "wires": []
    }
]